<nav class="container relative mx-auto p-6">
    <div class="flex items-center justify-between space-x-20 my-6">
        <div class="z-30">
            <img src="../../../assets/images/logo-bookmark.svg" alt="" id="logo">
        </div>
        <div class="hidden items-center space-x-10 uppercase text-grayishgBlue md:flex">
            <a href="#features" class="tracking-widest hover:text-softRed transition-colors delay-75">Features</a>
            <a href="#download" class="tracking-widest hover:text-softRed transition-colors delay-75">Download</a>
            <a href="#faq" class="tracking-widest hover:text-softRed transition-colors delay-75">Faq</a>
            <a href="#" class="px-8 rounded-lg py-2 text-white bg-softRed border-2 border-softRed shadow-md hover:text-softRed hover:bg-white">Login</a>
        </div>
    </div>
</nav>